@model CabTap.Shared.Reservation.ReservationAllViewModel

<p class="card-text">
    <strong>@Html.DisplayNameFor(x => x.ReservationDateTime): </strong>@Model.ReservationDateTime<br>
    <strong>@Html.DisplayNameFor(x => x.Duration): </strong>@Model.Duration min<br>
    <strong>@Html.DisplayNameFor(x => x.Distance): </strong>@Model.Distance km<br>
    <strong>@Html.DisplayNameFor(x => x.Price): </strong>@Model.Price BGN<br>
    <strong>@Html.DisplayNameFor(x => x.PassengersCount): </strong>@Model.PassengersCount<br>
    <strong>@Html.DisplayNameFor(x => x.RideStatus): </strong>@Model.RideStatus<br>
</p>