@model bool;

@{
    var sortOption = Context.Request.Query["sortOption"].ToString();
    var searchInput = Context.Request.Query["searchInput"].ToString();
}

<div class="row align-items-end">
    @if (Model)
    {
        <div class="col-md-3">
            <label for="searchInput" class="form-label">Search by Username:</label>
            <input type="text" class="form-control" id="searchInput" name="searchInput" value="@searchInput" placeholder="username...">
        </div>
    }
    <div class="col-md-3">
        <label for="sortSelect" class="form-label">Sort by:</label>
        <select class="form-select" id="sortSelect" name="sortOption">
            <option value="">Newest</option>
            <!-- Selected = true/false -->
            <option value="oldest" selected="@(sortOption == "oldest")">Oldest</option>
            <option value="dateAsc" selected="@(sortOption == "dateAsc")">Reservation Date (Ascending)</option>
            <option value="dateDesc" selected="@(sortOption == "dateDesc")">Reservation Date (Descending)</option>
            <option value="priceAsc" selected="@(sortOption == "priceAsc")">Price (Ascending)</option>
            <option value="priceDesc" selected="@(sortOption == "priceDesc")">Price (Descending)</option>
            <option value="distanceAsc" selected="@(sortOption == "distanceAsc")">Distance (Short to Long)</option>
            <option value="distanceDesc" selected="@(sortOption == "distanceDesc")">Distance (Long to Short)</option>
        </select>
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Apply Filter & Sort</button>
    </div>
</div>