@model CabTap.Shared.Driver.DriverDetailsViewModel

@{
    ViewData["Title"] = "Driver Details";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="text-center col-md-4">Name</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="text-center col-md-4">Created On</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.CreatedOn)</dd>

                        <dt class="text-center col-md-4">Last Modified On</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.LastModifiedOn)</dd>

                        <dt class="text-center col-md-4">Created By</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.CreatedBy)</dd>

                        <dt class="text-center col-md-4">Last Modified By</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.LastModifiedBy)</dd>
                    </dl>
                    <div class="text-center mt-4">
                        <a class="btn btn-primary" asp-controller="Drivers" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a class="btn btn-danger ml-2" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                        <a class="btn btn-secondary ml-2" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>