@using CabTap.Shared.Pagination
@model IEnumerable<CabTap.Shared.Taxi.TaxiAllViewModel>
@{
    ViewData["Title"] = "Index";
}
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/taxis.css">
</head>

<h1 class="text-center mb-4">Taxis Index</h1>

<partial name="_AdminPartial" />

<div class="container mt-4">
    <div class="table-responsive">
        <table class="table table-striped text-center">
            <caption>All Taxis</caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col">Registration Number</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Category</th>
                <th scope="col">Driver</th>
                <th scope="col">Description</th>
                <th scope="col">Picture</th>
                <th scope="col">Status</th>
                <th scope="col">Passenger Seats</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.RegNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.ManufacturerName)</td>
                    <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DriverName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td><img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Taxi Image" class="img-thumbnail" style="max-height: 100px;"/></td>
                    <td>
                        <span class="status-badge status-@(item.TaxiStatus.ToString())">@Html.DisplayFor(modelItem => item.TaxiStatus)</span>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.PassengerSeats)</td>
                    <td><partial name="_EntityActionsPartial" model="@item.Id"/></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@{
    var currentPage = (int)(ViewData["CurrentPage"] ?? 1);
    var totalPages = (int)(ViewData["TotalPages"] ?? Model.Count() / 9);

    var paginationModel = new PaginationViewModel
    {
        CurrentPage = currentPage,
        TotalPages = totalPages
    };
}
<div>
    <partial name="_PaginationPartial" model="paginationModel" />
</div>