@model CabTap.Shared.Reservation.ReservationDetailsViewModel

@{
    ViewData["Title"] = "Reservation Details";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="text-center col-md-4">Origin:</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.Origin)</dd>

                        <dt class="text-center col-md-4">Destination:</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.Destination)</dd>

                        <dt class="text-center col-md-4">Duration:</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.Duration)</dd>

                        <dt class="text-center col-md-4">Distance:</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.Distance)</dd>

                        <dt class="text-center col-md-4">Price:</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.Price)</dd>

                        <dt class="text-center col-md-4">Passengers Count:</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.PassengersCount)</dd>

                        <dt class="text-center col-md-4">Ride Status:</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.RideStatus)</dd>

                        <dt class="text-center col-md-4">User ID:</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.UserId)</dd>

                        <dt class="text-center col-md-4">Taxi ID:</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.TaxiId)</dd>

                        <dt class="text-center col-md-4">Created On:</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.CreatedOn)</dd>

                        <dt class="text-center col-md-4">Last Modified On:</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.LastModifiedOn)</dd>

                        <dt class="text-center col-md-4">Created By:</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.CreatedBy)</dd>

                        <dt class="text-center col-md-4">Last Modified By:</dt>
                        <dd class="text-center col-md-8">@Html.DisplayFor(model => model.LastModifiedBy)</dd>
                    </dl>
                    
                    <div class="text-center mt-4">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a class="btn btn-danger ml-2" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                        <a class="btn btn-secondary ml-2" href="javascript:history.back()">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>