@using CabTap.Shared.Pagination
@model IEnumerable<CabTap.Shared.Reservation.ReservationAllViewModel>
@{
    ViewData["Title"] = "Reservation History";
}
<h1 style="margin-bottom: 30px;">@ViewData["Title"]</h1>

<partial name="_AdminPartial" />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <div style="padding-bottom: 15px;">
                        <h5 class="card-title fw-bold">
                            @await Html.PartialAsync("_TruncateLocationPartial", item.Origin)
                        </h5>
                        <h5 class="card-title fw-bold">
                            @await Html.PartialAsync("_TruncateLocationPartial", item.Destination)
                        </h5>
                    </div>

                    <p class="card-text">
                        <strong>@Html.DisplayNameFor(x => x.UserId): </strong>@item.UserId<br>
                        <strong>@Html.DisplayNameFor(x => x.TaxiId): </strong>@item.TaxiId<br>
                        <strong>@Html.DisplayNameFor(x => x.Duration): </strong>@item.Duration min<br>
                        <strong>@Html.DisplayNameFor(x => x.Distance): </strong>@item.Distance km<br>
                        <strong>@Html.DisplayNameFor(x => x.Price): </strong>@item.Price<br>
                        <strong>@Html.DisplayNameFor(x => x.PassengersCount): </strong>@item.PassengersCount<br>
                        <strong>@Html.DisplayNameFor(x => x.RideStatus): </strong>@item.RideStatus<br>
                        <strong>@Html.DisplayNameFor(x => x.CreatedOn): </strong>@item.CreatedOn
                    </p>
                    <div class="text-center" style="margin-bottom: 15px;" >
                        <partial name="_EntityActionsPartial" model="@item.Id" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    var paginationModel = new PaginationViewModel
    {
        CurrentPage = ViewBag.CurrentPage,
        TotalPages = ViewBag.TotalPages
    };
}
<div>
    <partial name="_PaginationPartial" model="paginationModel" />
</div>